<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>insta485</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>

    <body>
        <header id="navbar"> 
            <a href="/" id="home">Home</a>
            <a href="{{ url_for('show_user',user_url_slug=logname) }}" id="user">{{logname}}</a>
            <a href="/explore/" id="explore">explore</a>
        </header>
        <div id="reactEntry">
            Loading ...
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
        
    </body>
</html>
